<div class="form-div">
   <div class="form-group">
      <label>Blog Title : </label>
      <input #blogtitle type="text" class="form-control">
  </div>
   <div class="form-group">
      <label>Blog Comment : </label>
      <textarea #blogcomment class="form-control"></textarea>
  </div>
  <button (click)="displayBlog(blogtitle, blogcomment);" class="btn btn-primary marginb10">Add Commemt</button>
  
  <div class="coverBlog">
		<div *ngFor="let blog of holdBlog" class="card marginb10">
			<div class="f-title card-header">{{blog.desTitle}}</div>
      <div class="f-comment card-block">{{blog.desComment}}</div>
  	</div>
  </div>
</div>
